[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
fullupdate = 'python -m core.command.full_update'
start = 'python -m core.command.main'
opacupdate = 'python -m core.command.opac_update'
show = 'python -m core.command.open_magic_wl'
clear = 'python -m core.command.rm_books_json'
setup = 'python -m core.command.generate_setting_file'
help = '$BROWSER https://github.com/monado3/MagicAmazonWishList'
